@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --primary-green: #047857;
  --secondary-green: #059669;
  --white: #FFFFFF;
  --secondary-white: #F9FAFB;
}

* {
  box-sizing: border-box;
  outline: var(--primary-green);
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-green);
  background-color: var(--secondary-white);
  overflow: hidden;
}
.inline {
  display: inline;
}

.navbar-component {
  margin-bottom: 1rem;
  display: flex;
  color: var(--primary-green);
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: sticky;
  top: 0;
  padding: 0.75rem 0.5rem;
  z-index: 10;
}
.route-links{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row nowrap;
}
.hamburger-menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column nowrap;
}


.categories__list {
  position: absolute;
  top : 3rem;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--secondary-white);
  height : 98vh;
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;
}
.active {
  display: flex;
}
.categories__list li {
  padding: 1rem;
  width: 100%;
}
.categories__list li:hover {
  background-color: var(--white);
}
.user__list {
  position: fixed;
  bottom: 0;
  width : 100%;
  height: auto;
  background-color: var(--secondary-white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  background-color: var(--white);
}
.user__list li{
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
}
.user__list li:hover{
 background-color: var(--secondary-white);
}
.column-wrap {
  display: flex;
  flex-flow: column wrap;
}

.row-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

}

.center {
  justify-content: center;
  align-items: center;
}

.responsive {
  display: none;
}

.line {
  width: 1.6rem;
  height: 0.2rem;
  margin: 0.15rem;
  background-color: var(--primary-green);
  display: block;
  position: relative;
}

.open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;

}

.open .line:nth-child(3){
  transform: rotate(-45deg);
  bottom: 5px;
}

.open .line:nth-child(2) {
  /* visibility: hidden;
   */
   opacity: 0;

}

.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-green);
  padding: 0 0.25rem;

}

.logo {
  font-family: "Pacifico", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.responsive-img {
  max-width: 100%;
  margin: 0;
}

.heading {
  padding: 0 0.5rem;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
}

.search__container {
  opacity: 0.8;
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  background-color: var(--white);
  width: calc(90% - 2rem);
  border-radius: 0.125rem;
  /* box-shadow: ; */
  z-index: 0;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 /30%));
}

.search__container:hover {
  opacity: 1;
}

.search__input {
  width: 100%;
  height: auto;
  border: 1px solid var(--secondary-green);
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  border-right: none;
  padding: 0.75rem;
}

.search__button {
  height: auto;
  padding: 0.75rem;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border-bottom-right-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border: 1px solid var(--secondary-green);
  border-left: none;
}

.search__button:hover {
  background-color: var(--secondary-green);
  color: var(--white);
  transition: all ease-in 0.2s;
}

@media screen and (min-device-width : 768px) {
  .categories__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-decoration: none;
    align-items: flex-start;
    top : initial;
    z-index: 0;
    position: relative;
    width: 15rem;
    height: 2rem;
    justify-content: space-between;
    background-color: inherit;
  }
   
  .user__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: flex-start;
    width: 5rem;
    height: auto;
    position: relative;
  }
  .categories__list>li , .user__list > li {
    padding: 0 0.5rem;
  }
  .categories__list li:hover{
    background-color: var(--secondary-white);
    height: 100%;
  }

  main>.categories__list {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
  }

  .navbar-component {
    margin-bottom: 1rem;
    display: flex;
    color: var(--primary-green);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  .hamburger-menu{
    display: none;
  }

  .responsive {
    display: inherit;
  }

  .search__container {
    width: 50%;
  }
}